.box {
  width: 960px;
  height: 100%;
  background: #ffffff;
  align-self: stretch;

  .paper {
    width: 100%;
    margin-bottom: 2px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    margin-bottom: 0;

    .bodyTable {
      margin-right: 20px;
    }
  }
}
